@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";
@import "http://fonts.googleapis.com/css?family=Raleway:800,100,400";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

h1, h2, h3, p {
  font-family: "Open Sans", sans-serif;
  color: #111;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 1px #111;
}

h2 {
  color: #fff;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 2px 1px #111;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 20px;
  line-height: 1.6em;
  font-size: .9em;
}

a:visited {
  color: #6D4073;
}

.main-content-wrapper {
  height: 100%;
}

.map {
  width: 66.666666%;
  height: 100%;
  float: left;
}

.wide-map {
  width: 100%;
  height: 100%;
}

.park-title {
  font-weight: bold;
}

.aside {
  width: 33.333333%;
  height: 100%;
  padding-top: 32px;
  float: left;
  background: #D5D5D5;
}

.no-show {
  display: none;
}

.rank-color {
  width: 20%;
}

.hero-section {
  background-image: url("../img/pool.jpeg");
  background-attachment: fixed !important;
  background-size: cover;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

.hero-image {
  height: 500px;
  background-size: cover;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.hero-section > .hero-copy {
  font-weight: bold;
  position: absolute;
  top: 12em;
  left: 1em;
  width: 50%;
  padding: 20px 10px;
  background-attachment: fixed;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.hero-copy {
  position: relative;
  z-index: 1;
}

.photo-credit {
  bottom: .5em;
  right: 1em;
  position: absolute;
  font-size: .8em;
  font-style: italic;
  color: #fff;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.nav {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #444 2px 2px;
  list-style: none;
  margin: 0;
  background: #1b7837;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: .5em;
  color: white;
}
.nav a:hover {
  background: #5aae61;
}

.nav li {
  margin-right: 1em;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav li:last-of-type a {
    border-bottom: none;
  }
}
/* Sub Menus */
.submenu:hover .submenu-items {
  display: block;
  z-index: 1;
  background-color: #1b7837;
}

.submenu-items {
  position: absolute;
  display: none;
}

.submenu-items li {
  margin: 0;
}

/* OPTIONS */
/* STYLES */
.districts-toggles p {
  margin: 10px;
}

section#content {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50px;
  margin-left: -150px;
  text-align: center;
}

div.dropdown {
  text-align: left;
  font-size: 0.9em;
  color: #111;
  text-shadow: 0px 1px 1px #808080;
}
div.dropdown.closed ul {
  margin-top: 0px;
}
div.dropdown.closed ul li {
  margin-top: -40px;
  height: 0px;
}
div.dropdown.closed div.title:after {
  margin-top: -14px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
div.dropdown div.title {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(25, 25, 25, 0.3);
  padding: 12px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
  background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
}
div.dropdown div.title:after {
  display: block;
  content: "▾";
  position: absolute;
  right: 20px;
  margin-top: -12px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
div.dropdown ul {
  overflow: hidden;
  -moz-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 3px 3px;
}
div.dropdown ul li {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(25, 25, 25, 0.3);
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  -moz-transition: margin-top 0.5s, height 0.5s;
  -o-transition: margin-top 0.5s, height 0.5s;
  -webkit-transition: margin-top 0.5s, height 0.5s;
  transition: margin-top 0.5s, height 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
  background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
}
div.dropdown ul li:first-child {
  border-bottom: none;
  border-top: none;
}
div.dropdown ul li:last-child {
  border-top: none;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 3px 3px;
}
div.dropdown ul li:hover {
  text-shadow: 0px 1px 1px black, 0px 0px 4px white;
}
div.dropdown ul li:before {
  content: " ";
  display: -webkit-inline-box;
  position: relative;
  background: transparent url("http://www.carlcalderon.com/pen/img/line-stop.png");
  margin: 0 10px;
  width: 20px;
  height: 40px;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.facts-table {
  width: 90%;
  margin: 5%;
  border: 1px solid #eee;
}
.facts-table td {
  padding: 5px;
  text-align: left;
}
.facts-table th {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #eee;
  background: #9F5EA7;
  color: #fff;
}
.facts-table th.subhead {
  font-weight: 400;
  border: none;
  padding: 3px;
  background: #9F5EA7;
  /* The Fallback */
  background: rgba(159, 94, 167, 0.7);
}
.facts-table tr:nth-child(odd) {
  background: #eee;
}
.facts-table tr:hover {
  background: #64c062;
  /* The Fallback */
  background: rgba(100, 192, 98, 0.2);
}
.facts-table tr:hover td {
  font-weight: bold;
}

.rankings-table td {
  text-align: center;
}

.legend-header {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.rank-legend {
  margin: 5%;
  width: 80%;
}
.rank-legend div {
  float: left;
  display: block;
  width: 19%;
  text-align: center;
}
.rank-legend div.eight-legend {
  width: 11.9%;
  height: 20px;
}

.rgdiv0-5 {
  background-color: rgba(215, 25, 28, 0.7);
  border: 1px solid #eee;
}

.rgdiv1-5 {
  background-color: rgba(253, 174, 97, 0.7);
  border: 1px solid #eee;
}

.rgdiv2-5 {
  background-color: rgba(255, 255, 191, 0.7);
  border: 1px solid #eee;
}

.rgdiv3-5 {
  background-color: rgba(166, 217, 106, 0.7);
  border: 1px solid #eee;
}

.rgdiv4-5 {
  background-color: rgba(26, 150, 65, 0.7);
  border: 1px solid #eee;
}

.purpdiv0-8 {
  background-color: #f7fcfd;
  border: 1px solid #eee;
}

.purpdiv1-8 {
  background-color: #e0ecf4;
  border: 1px solid #eee;
}

.purpdiv2-8 {
  background-color: #bfd3e6;
  border: 1px solid #eee;
}

.purpdiv3-8 {
  background-color: #9ebcda;
  border: 1px solid #eee;
}

.purpdiv4-8 {
  background-color: #8c96c6;
  border: 1px solid #eee;
}

.purpdiv5-8 {
  background-color: #8c6bb1;
  border: 1px solid #eee;
}

.purpdiv6-8 {
  background-color: #88419d;
  border: 1px solid #eee;
}

.purpdiv7-8 {
  background-color: #6e016b;
  border: 1px solid #eee;
}

.access-legend .rank-color {
  width: 20%;
  text-align: center;
  font-size: 0.8em;
}

.heatmap-legend-1 {
  background: #BBE47F;
  /* The Fallback */
  background: rgba(187, 228, 127, 0.5);
  border: 1px solid #eee;
}

.heatmap-legend-2 {
  background: #E5F57F;
  /* The Fallback */
  background: rgba(229, 245, 127, 0.5);
  border: 1px solid #eee;
}

.heatmap-legend-3 {
  background: #FFE680;
  /* The Fallback */
  background: rgba(255, 230, 128, 0.5);
  border: 1px solid #eee;
}

.heatmap-legend-4 {
  background: #FFB380;
  /* The Fallback */
  background: rgba(255, 179, 128, 0.5);
  border: 1px solid #eee;
}

.heatmap-legend-5 {
  background: #FF8080;
  /* The Fallback */
  background: rgba(255, 128, 128, 0.5);
  border: 1px solid #eee;
}

.leaflet-top {
  top: 2rem;
}
