@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

h1, h2, h3, p {
  font-family: "Open Sans", sans-serif;
  color: #111111;
}

h1 {
  font-size: 3em;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 20px;
  line-height: 1.6em;
  font-size: .9em;
}

a:visited {
  color: #6d4073;
}

.main-content-wrapper {
  height: 95%;
}

.map {
  width: 66.666666%;
  height: 100%;
  float: left;
}

.wide-map {
  width: 100%;
  height: 100%;
}

.park-title {
  font-weight: bold;
}

.aside {
  width: 33.333333%;
  height: 100%;
  float: left;
  background: #cdd2d4;
}

.no-show {
  display: none;
}

/* OPTIONS */
/* STYLES */
section#content {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50px;
  margin-left: -150px;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 0px 2px 1px black;
  margin-bottom: 1em;
}

div.dropdown {
  text-align: left;
  font-size: 0.9em;
  color: #111111;
  text-shadow: 0px 1px 1px gray;
}
div.dropdown.closed ul {
  margin-top: 0px;
}
div.dropdown.closed ul li {
  margin-top: -40px;
  height: 0px;
}
div.dropdown.closed div.title:after {
  margin-top: -14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
div.dropdown div.title {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(25, 25, 25, 0.3);
  padding: 12px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -o-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
}
div.dropdown div.title:after {
  display: block;
  content: "▾";
  position: absolute;
  right: 20px;
  margin-top: -12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
div.dropdown ul {
  overflow: hidden;
  -webkit-transition: margin-top 1s;
  -moz-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  transition: margin-top 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
div.dropdown ul li {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(25, 25, 25, 0.3);
  padding: 12px;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: margin-top 0.5s, height 0.5s;
  -moz-transition: margin-top 0.5s, height 0.5s;
  -o-transition: margin-top 0.5s, height 0.5s;
  transition: margin-top 0.5s, height 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(160, 160, 160, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: -o-linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
  background-image: linear-gradient(top, rgba(230, 230, 230, 0.2), rgba(160, 160, 160, 0.2));
}
div.dropdown ul li:first-child {
  border-bottom: none;
  border-top: none;
}
div.dropdown ul li:last-child {
  border-top: none;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
div.dropdown ul li:hover {
  text-shadow: 0px 1px 1px black, 0px 0px 4px white;
}
div.dropdown ul li:before {
  content: " ";
  display: -webkit-inline-box;
  position: relative;
  background: transparent url("http://www.carlcalderon.com/pen/img/line-stop.png");
  margin-top: -12px;
  margin-right: 10px;
  width: 20px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation {
  list-style: none;
  margin: 0;
  height: 5%;
  background: #64c062;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.1), #44a048);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #388636;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
table.facts-table {
  width: 90%;
  margin: 5%;
  border: 1px solid #eee;
}
table.facts-table td {
  padding: 5px;
  text-align: left;
}
table.facts-table th {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #eee;
  background: #9f5ea7;
  color: white;
}
table.facts-table th.subhead {
  font-weight: 400;
  border: none;
  padding: 3px;
  background: #9f5ea7;
  /* The Fallback */
  background: rgba(159, 94, 167, 0.7);
}
table.facts-table tr:nth-child(odd) {
  background: #eee;
}
table.facts-table tr:hover {
  background: #64c062;
  /* The Fallback */
  background: rgba(100, 192, 98, 0.2);
}
table.facts-table tr:hover td {
  font-weight: bold;
}

.legend-header {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.rank-legend {
  margin: 5%;
  width: 80%;
}
.rank-legend div {
  float: left;
  display: block;
  width: 19%;
  text-align: center;
}
.rank-legend div.eight-legend {
  width: 11.9%;
  height: 20px;
}

.rgdiv0-5 {
  background-color: rgba(215, 25, 28, 0.7);
  border: 1px solid #eee;
}

.rgdiv1-5 {
  background-color: rgba(253, 174, 97, 0.7);
  border: 1px solid #eee;
}

.rgdiv2-5 {
  background-color: rgba(255, 255, 191, 0.7);
  border: 1px solid #eee;
}

.rgdiv3-5 {
  background-color: rgba(166, 217, 106, 0.7);
  border: 1px solid #eee;
}

.rgdiv4-5 {
  background-color: rgba(26, 150, 65, 0.7);
  border: 1px solid #eee;
}

.purpdiv0-8 {
  background-color: #f7fcfd;
  border: 1px solid #eee;
}

.purpdiv1-8 {
  background-color: #e0ecf4;
  border: 1px solid #eee;
}

.purpdiv2-8 {
  background-color: #bfd3e6;
  border: 1px solid #eee;
}

.purpdiv3-8 {
  background-color: #9ebcda;
  border: 1px solid #eee;
}

.purpdiv4-8 {
  background-color: #8c96c6;
  border: 1px solid #eee;
}

.purpdiv5-8 {
  background-color: #8c6bb1;
  border: 1px solid #eee;
}

.purpdiv6-8 {
  background-color: #88419d;
  border: 1px solid #eee;
}

.purpdiv7-8 {
  background-color: #6e016b;
  border: 1px solid #eee;
}
