// _base.scss
// ==============

html, body {
  height: 100%;
}

// body {}
h1, h2, h3, p {
  font-family: $body-font;
  color: $main-color;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: $head-font;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0px 2px 1px $black;
}

h2 {
  color: $white;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: $head-font;
  text-shadow: 0px 2px 1px $black;
}

body {
	font-family: $body-font;
}

p {
	margin: 20px;
	line-height: 1.6em;
	font-size: .9em;
}

a {
	&:visited {
		color: $dark-purple;
	}
}

