// _modules.scss
// ============

.main-content-wrapper {
	height: 95%;
}

.map {
	width: 66.666666%;
	height: 100%;
	float: left;
}

.wide-map {
	width: 100%;
	height: 100%;
}

.park-title {
	font-weight: bold;
}

.aside {
	width: 33.333333%;
	height: 100%;
	float: left;
	background: $grey;
}

.no-show {
	display: none;
}