.nav {
  font-family: $head-font;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #444 2px 2px;
  list-style: none;
  margin: 0;
  background: $dark-green;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: .5em;
  color: white;
  &:hover {
    background: $middle-green;
  }
}

.nav li {
  margin-right: 1em;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .nav li:last-of-type a {
    border-bottom: none;
  }
}

/* Sub Menus */
.submenu:hover .submenu-item {
  display: block;
  z-index: 1;
  background-color: $dark-green;
}

.submenu-item {
  position: absolute
}

.submenu-item li {
  margin: 0
}

