table.facts-table {
	width: 90%;
	margin: 5%;
	border: 1px solid #eee;

	td {
		padding: 5px;
		&:nth-child(n+2) {
		  text-align: right;
		}
		&:nth-child(n+3) {
		  text-align: center;
		  font-style: italic;
		}
	}

	th {
		text-align: center;
		font-weight: bold;
		padding: 5px;
		border: 1px solid #eee;
		background: $purple;
		color: $white;
		&.subhead {
			font-weight: 400;
			border: none;
			padding: 3px;
			@include background-opacity($purple, 0.7);
		}
	}

	tr {
		&:nth-child(odd) {
		  background: #eee;
		}
 		&:hover {
			@include background-opacity($bright-green, 0.2);
			td {
				font-weight: bold;
			}
		}
		&.positive-ranking {
			color: green;
		}
		&.neutral-ranking {
			color: yellow;
		}
		&.negative-ranking {
			color: red;
		}
	}
}

