.facts-table {
	width: 90%;
	margin: 5%;
	border: 1px solid #eee;

	td {
		padding: 5px;
		text-align: left;
		// &:nth-child(n+2) {
		//   text-align: right;
		// }
		// &:nth-child(n+3) {
		//   text-align: center;
		// }
	}

	th {
		text-align: center;
		font-weight: bold;
		padding: 5px;
		border: 1px solid #eee;
		background: $purple;
		color: $white;
		&.subhead {
			font-weight: 400;
			border: none;
			padding: 3px;
			@include background-opacity($purple, 0.7);
		}
	}

	tr {
		&:nth-child(odd) {
		  background: #eee;
		}
 		&:hover {
			@include background-opacity($bright-green, 0.2);
			td {
				font-weight: bold;
			}
		}
	}
}

.rankings-table {
	td {
		text-align: center;
	}
}

.legend-header {
	font-size: 24px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	width: 100%;
}

.rank-legend {
	margin: 5%;
	width: 80%;
	div {
		float: left;
		display: block;
		width: 19%;
		text-align: center;
	}
	div.eight-legend {
		width: 11.9%;
		height: 20px;
	}
}


// red legend
.rgdiv0-5 {
	background-color: $rgdiv0-5;
	border: 1px solid #eee;
}
.rgdiv1-5 {
	background-color: $rgdiv1-5;
	border: 1px solid #eee;
}
.rgdiv2-5 {
	background-color: $rgdiv2-5;
	border: 1px solid #eee;
}
.rgdiv3-5 {
	background-color: $rgdiv3-5;
	border: 1px solid #eee;
}
.rgdiv4-5 {
	background-color: $rgdiv4-5;
	border: 1px solid #eee;
}

// purple legend
.purpdiv0-8 {
	background-color: $purpdiv0-8;
	border: 1px solid #eee;
}
.purpdiv1-8 {
	background-color: $purpdiv1-8;
	border: 1px solid #eee;
}
.purpdiv2-8 {
	background-color: $purpdiv2-8;
	border: 1px solid #eee;
}
.purpdiv3-8 {
	background-color: $purpdiv3-8;
	border: 1px solid #eee;
}
.purpdiv4-8 {
	background-color: $purpdiv4-8;
	border: 1px solid #eee;
}
.purpdiv5-8 {
	background-color: $purpdiv5-8;
	border: 1px solid #eee;
}
.purpdiv6-8 {
	background-color: $purpdiv6-8;
	border: 1px solid #eee;
}
.purpdiv7-8 {
	background-color: $purpdiv7-8;
	border: 1px solid #eee;
}

.access-legend .rank-color {
	width: 20%;
	text-align: center;
	font-size: 0.8em;
}

.heatmap-legend-1 {
	@include background-opacity(#BBE47F, 0.5);
	border: 1px solid #eee;
}
.heatmap-legend-2 {
	@include background-opacity(#E5F57F, 0.5);
	border: 1px solid #eee;
}
.heatmap-legend-3 {
	@include background-opacity(#FFE680, 0.5);
	border: 1px solid #eee;
}
.heatmap-legend-4 {
	@include background-opacity(#FFB380, 0.5);
	border: 1px solid #eee;
}
.heatmap-legend-5 {
	@include background-opacity(#FF8080, 0.5);
	border: 1px solid #eee;
}

