// _variables.scss
// =================

@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";

// NEUTRAL COLORS
$black		   	: #111;
$white			: #fff;
$grey			: #CDD2D4;
$dark-grey		: #808080;
$off-grey		: #ECDFED;

// MORE COLORS
$bright-green		: rgba(100, 192, 98, 1);
$light-green	  : #83A33E;
$footer-green-1	: #879C5B;
$footer-green-2	: #657E30;
$grey-green		  : #B8C59C;

$lilac-purlpe	: #C9A6CE;
$purple			  : #9F5EA7;
$dark-purple	: #6D4073;

$red    : #C00C0F;
$yellow : #DD9E28;

//////// Color Brewer
// RED to GREEN DIVERGENT
$rgdiv0-5 : rgba(215,25,28,.7);
$rgdiv1-5 : rgba(253,174,97,.7);
$rgdiv2-5 : rgba(255,255,191,.7);
$rgdiv3-5 : rgba(166,217,106,.7);
$rgdiv4-5 : rgba(26,150,65,.7);

$purpdiv0-8 : #f7fcfd;
$purpdiv1-8 : #e0ecf4;
$purpdiv2-8 : #bfd3e6;
$purpdiv3-8 : #9ebcda;
$purpdiv4-8 : #8c96c6;
$purpdiv5-8 : #8c6bb1;
$purpdiv6-8 : #88419d;
$purpdiv7-8 : #6e016b;


// COLOR THEMES
$main-color		: $black;

// FONTS
$head-font : 'Open Sans', sans-serif;
$body-font : 'Open Sans', sans-serif;

