// _variables.scss
// =================

@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";

// NEUTRAL COLORS
$black		   	: #111;
$white			: #fff;
$grey			: #CDD2D4;
$dark-grey		: #808080;
$off-grey		: #ECDFED;

// MORE COLORS
$bright-green		: rgba(100, 192, 98, 1);
$light-green	  : #83A33E;
$footer-green-1	: #879C5B;
$footer-green-2	: #657E30;
$grey-green		  : #B8C59C;

$lilac-purlpe	: #C9A6CE;
$purple			  : #9F5EA7;
$dark-purple	: #6D4073;

$red    : #C00C0F;
$yellow : #DD9E28;

// Color Brewer
// RED to GREEN Divergent
$rgdiv0-10 : rgba(165,0,38,.7);
$rgdiv1-10 : rgba(215,48,39,.7);
$rgdiv2-10 : rgba(244,109,67,.7);
$rgdiv3-10 : rgba(253,174,97,.7);
$rgdiv4-10 : rgba(254,224,139,.7);
$rgdiv5-10 : rgba(217,239,139,.7);
$rgdiv6-10 : rgba(166,217,106,.7);
$rgdiv7-10 : rgba(102,189,99,.7);
$rgdiv8-10 : rgba(26,152,80,.7);
$rgdiv9-10 : rgba(0,104,55,.7);


// COLOR THEMES
$main-color		: $black;

// FONTS
$head-font : 'Open Sans', sans-serif;
$body-font : 'Open Sans', sans-serif;

