// _index.scss
// ==============

.hero-section {
  background-image: url("../img/pool.jpeg");
  background-attachment: fixed !important;
  background-size: cover;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-family: $head-font;
}

.hero-image {
  height: 500px;
  background-size: cover;
  @include filter(blur(1px))

}

.hero-section > .hero-copy {
  font-weight: bold;
  position: absolute;
  top: 12em;
  left: 1em;
  width: 50%;
  padding: 20px 10px;
  background-attachment: fixed;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  @include filter(blur(2px))
}

.hero-copy {
  position: relative;
  z-index: 1;
}

.photo-credit {
  bottom: .5em;
  right: 1em;
  position: absolute;
  font-size: .8em;
  font-style: italic;
  color: $white;
}
