<!-- NAV -->
<nav>
  <ul class="nav">
    <li><a href="index.html">Austin Park Equity</a></li>
    <li class="submenu"><a href="#">Maps</a>
        <ul class="submenu-item">
          <li><a href="/district-map.html">District Comparison</a></li>
          <li><a href="/park-access.html">Park Access</a></li>
          <li><a href="/park-need.html">Demographic Need</a></li>
        </ul>
    </li>
    <li><a href="https://github.com/open-austin/Austin_Parks_Equity#austin-parks-acreage-data-app" target="_blank">About</a></li>
  </ul>
</nav>
